<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>view card</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">


    <!-- thymeleaf -->
    <!-- CSS -->
    <link th:href="@{/styles/dashboard.css}" rel="stylesheet">
    <link th:href="@{/styles/card-specified.css}" rel="stylesheet">
    <!-- scripts -->
    <script th:src="@{https://code.jquery.com/jquery-3.3.1.js}"></script>
    <script th:src="@{/scripts/date.js}"></script>
    <script th:src="@{/scripts/addSpacingToNumbers.js}"></script>

    <!-- CSS -->
    <link href="../static/styles/dashboard.css" rel="stylesheet" type="text/css">
    <link href="../static/styles/card-specified.css" rel="stylesheet" type="text/css" >
    <!-- scripts -->
    <script src="../static/scripts/date.js"></script>
    <script src="../static/scripts/addSpacingToNumbers.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
</head>
<body>
<nav class='navbar-top'>
    <ul>
        <li id="logo"><a href="/dashboard">KMB</a></li>
        <div>
            <li><a th:href="@{/account}" class="interface">Konta</a></li>
            <li><a th:href="@{/card}" class="interface">Karty</a></li>
            <li><a th:href="@{/contact}" class="interface">Kontakt</a></li>
            <li><a th:href="@{/settings}" class="interface">Ustawienia</a></li>
        </div>
        <li>
            <div class="name-surname">
                <a href="#">
                    <div th:text="${session.nameSurname}"></div>
                    <div id="dateTime"></div>
                </a>
            </div>
        </li>
    </ul>
</nav>
<div class="currencies">
    <div class="normal"><div class="wrapIt"><pre th:text="${session.currencies}"></pre></div></div>
    <div class="crypto"><pre th:text="${session.crypto}"></pre></div>
</div>

<div class="background" >
    <div class="container" >
        <div class="title" style="clear: both">
                <h1 class="card-number-text">
                    Karta numer &nbsp;&nbsp;&nbsp;
                    <span class="spacing-number" th:text="${cardSpecifiedViewDTO.cardNumber}"></span>
                </h1>
          </div>
        <div class="card-info" th:switch="${cardSpecifiedViewDTO.cardType}">
            <img th:case="gold" th:src="@{/assets/cardGold.png}">
            <img th:case="platinum" th:src="@{/assets/cardPlatinum.png}">
            <img th:case="normal" th:src="@{/assets/cardNormal.png}">
            <img th:case="basic" th:src="@{/assets/cardBasic.png}">
            <img th:case="student" th:src="@{/assets/cardStudent.png}">
            <div class="information">
                <a th:href="'/account/' + ${cardSpecifiedViewDTO.cardAccountNumber}">
                    <p>
                        Numer konta podpięty pod kartę &nbsp;&nbsp;&nbsp
                        <span class="spacing-number" th:text="${cardSpecifiedViewDTO.cardAccountNumber}"></span>
                    </p>
                </a>
                <div th:if="${cardSpecifiedViewDTO.active}" >
                    <p>Karta aktywna</p>
                </div>
                <div th:unless="${cardSpecifiedViewDTO.active}">
                    <p>Karta zastrzeżona</p>
                </div>
                <p th:text="'Data ważności karty &nbsp;&nbsp;' + ${cardSpecifiedViewDTO.expirationDate}"></p>
                <p th:text="'Limit transakcji bezdotykowych &nbsp;&nbsp;&nbsp; ' + ${cardSpecifiedViewDTO.dailyContactlessLimit}"></p>
                <p th:text="'Limit transakcji dziennych &nbsp;&nbsp;&nbsp; ' + ${cardSpecifiedViewDTO.dailyTotalLimit}"></p>
                <p th:text="'Limit transakcji Webowych &nbsp;&nbsp;&nbsp; ' + ${cardSpecifiedViewDTO.dailyWebLimit}"></p>
            </div>

        </div>
        <div class="blocks">
            <a th:if="${cardSpecifiedViewDTO.active}" class="left-block" th:href="'/card/' + ${cardSpecifiedViewDTO.cardNumber} +'/block'">
                <div class="small-bars">Zastrzeż kartę</div>
            </a>
            <a th:unless="${cardSpecifiedViewDTO.active}" class="left-block" th:href="'/card/' + ${cardSpecifiedViewDTO.cardNumber} +'/unblock'">
                <div class="small-bars">Odblokuj kartę</div>
            </a>
            <a class="right-block" th:href="'/card/' + ${cardSpecifiedViewDTO.cardNumber} +'/edit'">
                <div class="small-bars">Zmień limity</div>
            </a>
            <a class="delete-credit-card" th:href="'/card/' + ${cardSpecifiedViewDTO.cardNumber} + '/delete'">
                <div id="delete-card" class="small-bars">Usuń kartę</div>
            </a>
        </div>
    </div>
</div>
</body>
</html>