<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <!-- TH links -->
    <link th:href="@{/styles/dashboard.css}" rel="stylesheet"> 
    <link th:href="@{/styles/table.css}" rel="stylesheet">
    <script th:src="@{https://code.jquery.com/jquery-3.3.1.js}"></script>
    <script th:src="@{/scripts/addSpacingToNumbers.js}"></script>
    <script th:src="@{/scripts/table.js}"></script>
    <script th:src="@{/scripts/date.js}"></script>
    <!-- Ordinary links -->
    <link href="../static/styles/dashboard.css" rel="stylesheet" type="text/css">
    <link href="../static/styles/table.css" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="../static/scripts/addSpacingToNumbers.js"></script>
    <script src="../static/scripts/table.js"></script>
    <script src="../static/scripts/date.js"></script>
    <head>
<body>
    <nav>
        <ul>
            <li id="logo"><a href="#">KMB</a></li>
            <div>
                <li><a th:href="@{/account}" class="interface">Konta</a></li>
                <li><a th:href="@{/card}" class="interface">Karty</a></li>
                <li><a th:href="@{/contact}" class="interface">Kontakt</a></li>
                <li><a th:href="@{/settings}" class="interface">Ustawienia</a></li>
            </div>
            <li>
                <div class="name-surname">
                    <a href="#">
                        <div th:text="${session.nameSurname}"></div>
                        <div id="dateTime"></div>
                    </a>
                </div>
            </li>
        </ul>
    </nav>
    <div class="currencies">
        <div class="normal"><div class="wrapIt"><pre th:text="${session.currencies}"></pre></div></div>
        <div class="crypto"><pre th:text="${session.crypto}"></pre></div>
    </div>

    <div class="bars-container">
        <div class = "wrapper">
        <div class="left-bar">
            <a th:href="@{/transfer/normal}" ><div class="small-bars">Przelew</div></a>
            <a th:href="@{/credit}"><div class="small-bars">Kredyty</div></a>
            <a th:href="@{/transfer/recurring}"><div class="small-bars">Przelew Cykliczny</div></a>
        </div>

        <div class="right-bar">
            <div class="history">
                <div class ="title">Stan konta &nbsp;&nbsp; <span class="spacing-number" th:text="${accountCurrencyDTO.number}"></span>
                    <span th:text="'&nbsp;&nbsp; wynosi ' + ${accountCurrencyDTO.balance} + ${accountCurrencyDTO.currency}"></span></div>
                <div class="table">
                    <div class="table-header">
                        <div class="header__item"><a id="name" class="filter__link" href="#">Nadawca/Odbiorca</a></div>
                        <div class="header__item"><a id="title" class="filter__link filter__link--number" href="#">Tytuł</a></div>
                        <div class="header__item"><a id="account" class="filter__link filter__link--number" href="#">Nr konta</a></div>
                        <div class="header__item"><a id="amount" class="filter__link filter__link--number" href="#">Kwota</a></div>
                        <div class="header__item"><a id="date" class="filter__link filter__link--number" href="#">Data</a></div>
                        <div class="header__item"><a id="type" class="filter__link filter__link--number" href="#">Typ</a></div>

                    </div>
                    <div class = "table-content" th:each="transfer : ${transferDTOS}">
                        <div class = "table-row">
                            <div class= "table-data" th:text="${transfer.recipientName}"></div>
                            <div class= "table-data" th:text="${transfer.title}"></div>
                            <div class= "table-data spacing-number" th:text="${transfer.recipientAccountNumber}"></div>
                            <div class= "table-data" th:text="${transfer.amount}"></div>
                            <div class= "table-data" th:text="${transfer.localDateTime}"></div>
                            <div class = "table-data" th:text="${transfer.transferType}"></div>
                        </div>
                    </div>
                </div>
            
            </div>                        
        </div>
        </div>
    </div>
</body>
</html>