<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Password</title>
</head>
<body>
<span th:if="${param.error}">Invalid password</span>
<form th:action="@{/check}" method="post">
    <label>Password</label>:<br>
    <input type="text"
           id="password"
           name="password"
           class="form-control"
           autofocus="autofocus"
           placeholder="Password">
    <input type="hidden"
           id="username"
           name="username"
           class="form-control"
           autofocus="autofocus"
           th:value="${param.username}">
    <input type="submit"
           name="login-submit"
           id="login-submit"
           class="form-control btn btn-info"
           value="Next">
</form>
</body>
</html>