<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link th:href="@{/styles/login.css}" rel="stylesheet">

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<form class="form-horizontal" action="#" th:action="@{/password}" method="post">
    <img src="assets/accounting.jpg">
    <fieldset>
        <!-- Form Name -->
        <legend>KMB</legend>
        <!-- Text input-->
        <div class="form-group" id = "password">
            <label class="col-md-4 control-label" for="textinput">Password</label>
            <div class="col-md-4">
                <input id="textinput" name="password" type="text" placeholder="Type Your password here" class="form-control input-md">
            </div>
        </div>
                <input id="textinput2" name="username" type="hidden" autofocus="autofocus" th:value="${param.username}" >

        <!-- Button
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <
            <button type="button" class="btn btn-primary">Login</button>
            <a href = "/" >
                <button type="button" class="btn btn-primary">Back to username</button>
            </a>
        </div>-->


            <div class="form-group">
            <label class="col-md-4 control-label" for="singlebutton"></label>
            <div class="col-md-4">
                <button id="singlebutton" name="singlebutton" class="btn btn-primary">Login</button>
            </div>

            </div>
    </fieldset>
</form>

</body>
</html>